@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Constants.
\* ---------------------------------------------------------- */

// Colors.
$brand-color: rgb(42, 142, 242);

// Font.
$base-font-color: black;
$base-font-size: 1.5em;
$base-line-height: 1.4;
$base-font-family: Verdana, sans-serif;
